:root {
  --primary-light: #8a84e2;
  --primary-dark: #080a1f;
  --white: rgb(239, 240, 255);
}

body {
  background-color: var(--primary-light);
}

/* counter css */

.counters-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.counter-container {
  background: var(--primary-dark);
  color: var(--white);
  max-width: 370px;
  padding: 1rem;
  border-radius: 0.5rem;
}

.counter-icon .fas {
  cursor: pointer;
  transform: scale(1.2);
}

.counter-arrows {
  transition: all 0.5s ease-out;
}
.counter-arrows:hover {
  transform: scale(1.4);
  opacity: 0.8;
}

/* timer css */

.timer-label {
  border: 3px solid var(--white);
  border-radius: 0.8rem;
  max-width: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1rem 2rem;
  color: var(--primary-dark);

  box-shadow: 0 0 30px 10px rgba(8, 10, 31, 0.3) inset;
}

#time-left {
  font-size: 2.5rem;
}

.control {
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.control:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

@media only screen and (max-width: 527px) {
  .counters-grid-container {
    gap: 0.4rem;
  }
}
